{{ define "main" }}

<div>
{{ range ((where .Site.RegularPages "Type" "posts").GroupByDate "2006") }}
	<h1 class="post-title">{{ .Key  }}</h1>
<ul class="archive-list">
	{{ range .Pages }}
	<li style="margin-bottom: 0px;">
	{{ .PublishDate.Format "02 Jan"  }}
	-
	<a href="{{ .RelPermalink  }}" class="back-button">{{ .Title  }}</a>
	</li>
	{{ end  }}
</ul>
{{ end  }}
</div>
<div class="post-meta">
{{ with .Site.Taxonomies.categories }}
<h2>Categories</h2>
	<i class="fas fa-folder-open"></i>
{{ range $name, $taxonomy := . }}
   <a href="{{ (site.GetPage (printf "/categories/%s" $name)).RelPermalink }}" class="back-button">{{ $name }}</a>
{{ end }}
<br>
{{ end }}

{{ with .Site.Taxonomies.tags }}
<h2>Tags</h2>
  	<i class="fas fa-tag"></i>
{{ range $name, $taxonomy := . }}
  <a href="{{ (site.GetPage (printf "/tags/%s" $name)).RelPermalink }}" class="back-button">{{ $name }}</a>
{{ end }}
{{ end }}
</div>
{{ end }}
